<mat-card>
  <mat-card-title>Tabela</mat-card-title>
  <mat-card-content>
    <table *ngIf="data.length > 0" class="table">
      <thead>
        <tr>
          <th>Planeta</th>
          <th class="text-end">Luas</th>
          <th class="text-end">Diâmetro (KM)</th>
          <th class="text-end">
            Distância do sol<br />
            (milhões de KM)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let planet of data"
          (click)="selectPlanet(planet)"
          [style.font-weight]="
            selectedPlanet && planet.planet === selectedPlanet.planet
              ? 'bold'
              : ''
          "
        >
          <td>{{ planet.planet }}</td>
          <td class="text-end">{{ planet.moons }}</td>
          <td class="text-end">{{ planet.diameter }}</td>
          <td class="text-end">{{ planet.distanceFromSun | number }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
