@import "src/assets/styles/theme.scss";

.loadingPanel {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);

  div {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 32px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 16px;
      color: mat-color($my-primary) !important;
      font-size: 1.2em;
    }
  }
}
