@import "src/assets/styles/my-theme.scss";

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 3;
}

@media (max-width: 599px) {
  mat-sidenav-container {
    height: calc(100% - 56px) !important;
  }
}

mat-sidenav-container {
  height: calc(100% - 64px);

  mat-sidenav {
    width: 250px;

    mat-nav-list {
      a {
        display: flex;
        align-items: center;
        color: mat-color($my-primary, 300);
        font-size: 14px;

        mat-icon {
          margin-right: 8px;
        }
      }
    }
  }

  mat-sidenav-content {
    padding: 16px;
  }
}

.active-list-item {
  color: mat-color($my-primary, 500) !important;
  background-color: mat-color($my-primary, 50) !important;
}
