<mat-toolbar color="primary" class="mat-elevation-z4">
  <button
    *ngIf="authService.isAuthenticated && (isHandset$ | async)"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>APM Material</span>

  <span style="flex: 1 1 auto"></span>

  <button
    mat-button
    [matMenuTriggerFor]="menu"
    *ngIf="authService.isAuthenticated"
  >
    <mat-icon>account_circle</mat-icon>
    <span class="ms-1">John Doe</span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>Minha conta</span>
    </button>
    <button mat-menu-item *ngIf="isDarkTheme" (click)="toggleTheme()">
      <mat-icon>light_mode</mat-icon>
      <span>Tema claro</span>
    </button>
    <button mat-menu-item *ngIf="!isDarkTheme" (click)="toggleTheme()">
      <mat-icon>dark_mode</mat-icon>
      <span>Tema escuro</span>
    </button>

    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container [ngClass]="{ 'dark-theme-mode': isDarkTheme }">
  <mat-sidenav
    *ngIf="authService.isAuthenticated"
    #drawer
    [fixedInViewport]="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a
        style="display: block"
        *ngFor="let item of menuData"
        mat-list-item
        (click)="closeDrawer()"
        [routerLink]="item.link"
        routerLinkActive="active-list-item"
      >
        <mat-icon>{{ item.icon }}</mat-icon
        >{{ item.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-loading [loading]="isLoading"></app-loading>
