<h2>Título da página</h2>

<mat-card class="my-2">
  <mat-card-subtitle>Cores do tema customizado</mat-card-subtitle>
  <mat-card-content>
    <section class="mt-4">
      <div>
        <button mat-raised-button class="me-2">Basic</button>
        <button mat-raised-button class="me-2" color="primary">Primary</button>
        <button mat-raised-button class="me-2" color="accent">Accent</button>
        <button mat-raised-button class="me-2" color="warn">Warn</button>
        <button mat-raised-button class="me-2" disabled>Disabled</button>
      </div>
    </section>

    <section class="mt-4">
      <mat-slider
        min="0"
        max="10"
        step="1"
        value="4"
        [thumbLabel]="true"
        class="d-flex"
      ></mat-slider>
    </section>

    <section class="mt-4 d-flex">
      <mat-checkbox [checked]="true" labelPosition="after">
        I'm a checkbox
      </mat-checkbox>

      <mat-slide-toggle class="ms-4">I'm a slide toggle</mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>

<div class="row">
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4"
    *ngFor="let i of [1, 2, 3]"
  >
    <mat-card class="my-2">
      <mat-card-title>Card</mat-card-title>
      <mat-card-subtitle>Um card qualquer</mat-card-subtitle>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          dolores vero eveniet placeat enim maiores, eius harum unde est
          adipisci rem veritatis voluptatibus mollitia, animi, fuga quae sed
          totam eos!
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div
    class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
    *ngFor="let i of [1, 2]"
  >
    <mat-card class="my-2">
      <mat-card-title>Card</mat-card-title>
      <mat-card-subtitle>Um card qualquer</mat-card-subtitle>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          dolores vero eveniet placeat enim maiores, eius harum unde est
          adipisci rem veritatis voluptatibus mollitia, animi, fuga quae sed
          totam eos!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          dolores vero eveniet placeat enim maiores, eius harum unde est
          adipisci rem veritatis voluptatibus mollitia, animi, fuga quae sed
          totam eos!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div
    class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
    *ngFor="let i of [1, 2, 3, 4]"
  >
    <mat-card class="my-2">
      <mat-card-title>Card</mat-card-title>
      <mat-card-subtitle>Um card qualquer</mat-card-subtitle>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          dolores vero eveniet placeat enim maiores, eius harum unde est
          adipisci rem veritatis voluptatibus mollitia, animi, fuga quae sed
          totam eos!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
