@import "src/assets/styles/my-theme.scss";

.error {
  position: relative;
  top: -16px;

  font-size: small;
  font-weight: 500;

  color: mat-color($my-warn, 500);
  background-color: mat-color($my-warn, 50);
  padding: 2px 8px;
}
