<mat-toolbar color="primary">
  <button
    *ngIf="authService.isAuthenticated && (isHandset$ | async)"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>APM Material</span>

  <span style="flex: 1 1 auto"></span>

  <button
    *ngIf="authService.isAuthenticated"
    mat-icon-button
    (click)="onLogout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    *ngIf="authService.isAuthenticated"
    #drawer
    [fixedInViewport]="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a
        *ngFor="let item of menuData"
        mat-list-item
        (click)="closeDrawer()"
        [routerLink]="item.link"
        routerLinkActive="active-list-item"
      >
        <mat-icon>{{ item.icon }}</mat-icon
        >{{ item.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
